<nb-card>
  <nb-card-header>
    <h3>Global Overview</h3>
    <nb-select
      placeholder="Select Card Number"
      [(selected)]="selectedCardno"
      class="cardno-select"
    >
      @for (cardno of availableCardnos; track cardno) {
        <nb-option value="{{ cardno }}">{{ cardno }}</nb-option>
      }
    </nb-select>
    <input
      nbInput
      [nbDatepicker]="rangepicker"
      placeholder="Pick Date Range"
      id="rangepicker"
      [(ngModel)]="dateRange"
    />
    <nb-rangepicker #rangepicker></nb-rangepicker>
    <button
      nbButton
      status="primary"
      class="refresh-button"
      (click)="refresh()"
    >
      Refresh<nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-timetable [data]="data" [allowEdit]="true"></app-timetable>
  </nb-card-body>
</nb-card>
