@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

/* @use '@nebular/theme/styles/globals' as *; */
/* @use '@nebular/auth/styles/globals' as *; */
/**/
/* @include nb-install() { */
/*   @include nb-theme-global(); */
/*   @include nb-auth-global(); */
/* } */
.header {
  background-color: #151a30;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
