.input {
  margin-bottom: 1rem;
  margin-top: 1rem;
  break-before: always;
  display: block;
}

.card {
  margin: auto;
  display: flex;
  width: 25rem;
}

.save-button {
  float: right;
}

.card-body {
  height: 50rem;
}
