<nb-layout>
  <nb-layout-header fixed class>
    <h1>
      {{ title }}
      <nb-icon
        icon="clock-outline"
        [options]="{ animation: { type: 'shake' } }"
      ></nb-icon>
    </h1>
    <nb-user
      name="{{ user().email }}"
      title="{{ user().cardno }}"
      showInitials="true"
    ></nb-user>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet> </router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed
    >provided with
    <nb-icon
      icon="heart-outline"
      [options]="{ animation: { type: 'pulse' } }"
    ></nb-icon>
    by Nutz
  </nb-layout-footer>
</nb-layout>
