.datepicker {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.refresh-button {
  margin-left: 1rem;
}

.download-button {
  margin-left: 1rem;
  margin-top: 1rem;
  float: right;
}
