<nb-card>
  <nb-card-header>
    <h1>My personal time information</h1>
    <input
      nbInput
      [nbDatepicker]="rangepicker"
      placeholder="Pick Date Range"
      id="rangepicker"
      [(ngModel)]="dateRange"
      class="datepicker"
    />
    <nb-rangepicker #rangepicker></nb-rangepicker>
    <button
      nbButton
      status="primary"
      class="refresh-button"
      (click)="refresh()"
    >
      Refresh<nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-timetable [data]="data"></app-timetable>
  </nb-card-body>
</nb-card>
