<nb-card
  [nbSpinner]="loading"
  nbSpinnerMessage="Loading"
  nbSpinnerStatus="primary"
>
  <nb-card-header>
    <h3>My personal time information</h3>
    <input
      nbInput
      [nbDatepicker]="rangepicker"
      placeholder="Pick Date Range"
      id="rangepicker"
      [(ngModel)]="dateRange"
      class="datepicker"
    />
    <nb-rangepicker #rangepicker></nb-rangepicker>
    <button
      nbButton
      status="primary"
      class="refresh-button"
      (click)="refresh()"
    >
      Refresh<nb-icon icon="refresh-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <app-timetable [data]="data" [allowEdit]="false"></app-timetable>
  </nb-card-body>
</nb-card>
<nb-layout></nb-layout>
